/*
    Gestion des flags
 */

.item\:toc span.flag,
.item\:subtoc span.flag,
span.flag {
    border-width: 1px;
    border-radius : 3px;
    padding:0 2px;
    display:inline-block;
    font-size: 8pt;
    font-weight: normal;
}

span.flag.wip {
    background-color: #E9A7A7;
    color: white;
}

span.flag.draft {
    background-color: #ECBA6F;
    color: white;
}

span.flag.need-review {
    background-color: #57B1E4;
    color: white;
}

span.flag.new {
    background-color: #008821;
    color: white;
}

/*
body.flag-wip {
    background-color: #E9A7A7;
}

body.flag-draft {
    background-color: #ECBA6F;
}

body.flag-need-review {
    background-color: #57B1E4;
}

body.flag-new {
    background-color: #008821;
}
*/

.flags-banner {
    position:fixed;
    top: 5em;
    right: -4em;
    font-weight: bold;
    color: #fff;
    background-color: black;
    text-align: center;
    width: 20em;
    height: 2em;
    line-height: 2em;
    border-radius: 3px;
    border: 1px solid #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);

    /* Safari */
    -webkit-transform: rotate(45deg);

    /* Firefox */
    -moz-transform: rotate(45deg);

    /* IE */
    -ms-transform: rotate(45deg);

    /* Opera */
    -o-transform: rotate(45deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.flags-banner.flag-wip {
    background-color: #E9A7A7;
}

.flags-banner.flag-draft {
    background-color: #ECBA6F;
}

.flags-banner.flag-need-review {
    background-color: #57B1E4;
}

.flags-banner.flag-new {
    background-color: #008821;
}


/*
    Gestion des tables
 */

div.table{overflow: auto;}

/*
    BlockQuotes
 */

blockquote {
    font-style: italic;
    margin: 0.15em 0;
    padding: 1px 1.5em;
    line-height: 1.2;
    position: relative;
}

blockquote:before {
    font-family: Georgia, "Times New Roman", Times, serif;
    display: block;
    content: "\201C";
    font-size: 3em;
    position: absolute;
    left: -0.1em;
    top: -0.1em;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 0.8em;
    display: block;
    margin-top: 5px;
}
 
blockquote cite:before {
    content: "\2014 \2009";
}

.chunk_nav,
#copy {
    background-color: rgba(80,80,80,0.15);
    -moz-animation: fadeout 5s; /* Firefox */
    -webkit-animation: fadeout 5s; /* Safari and Chrome */
    -o-animation: fadeout 5s; /* Opera */
    animation: fadeout 5s;
}
@-moz-keyframes fadeout { /* Firefox */
    from {
        background-color: rgba(80,80,80,1);
    }
    to {
        background-color: rgba(80,80,80,0.15);
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        background-color: rgba(80,80,80,1);
    }
    to {
        background-color: rgba(80,80,80,0.15);
    }
}
@-o-keyframes fadeout { /* Opera */
    from {
        background-color: rgba(80,80,80,1);
    }
    to {
        background-color: rgba(80,80,80,0.15);
    }
}
@keyframes fadeout {
    from {
        background-color: rgba(80,80,80,1);
    }
    to {
        background-color: rgba(80,80,80,0.15);
    }
}
.chunk_nav:hover,
#copy:hover {
    background-color: rgba(80,80,80,1);
}

a code {
    color: #247FCA;
}
a:hover code {
    color: #ffffff;
    background-color: #8AE234;
}
#chunk_toc {
    background-color: #fff;
}
/* Pour les profil */
span.aclgreen {
    background-color:#90EE90; /*lightgreen*/
    border-radius:5px;
    font-weight: bold;
    font-size:150%;
    padding-left:0.5em;
    padding-right:0.5em;
}
span.aclgrey {
    background-color:#D3D3D3; /*lightgray*/
    border-radius:5px;
    font-weight: bold;
    font-size:150%;
    padding-left:0.5em;
    padding-right:0.5em;
}
