/*
    Gestion des flags
 */

.item\:toc span.flag,
.item\:subtoc span.flag,
span.flag {
    border-width: 1px;
    border-radius : 3px;
    padding:0 2px;
    display:inline-block;
    font-size: 8pt;
    font-weight: normal;
}

span.flag.wip {
    background-color: #CECECE;
    color: white;
}

span.flag.draft {
    background-color: #ECB0B0;
    color: white;
}

span.flag.need-review {
    background-color: #FFD994;
    color: white;
}

span.flag.new {
    background-color: #008821;
    color: white;
}

/*
    Gestion des tables
 */

div.table{overflow: auto;}

/*
    BlockQuotes
 */

blockquote {
    font-style: italic;
    margin: 0.15em 0;
    padding: 1px 1.5em;
    line-height: 1.2;
    position: relative;
}

blockquote:before {
    font-family: Georgia, "Times New Roman", Times, serif;
    display: block;
    content: "\201C";
    font-size: 3em;
    position: absolute;
    left: -0.1em;
    top: -0.1em;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 0.8em;
    display: block;
    margin-top: 5px;
}
 
blockquote cite:before {
    content: "\2014 \2009";
}
